<article id=<%= container.id %> class="container">
  <h1>Container <%= container.name %></h1>
  <b>Item count:</b> <%= container.items.count %><br>
<b>Parent container:</b> <%= container.parent.name %>
</article>
